<header class="absolute top-0 left-0 w-full p-4 flex justify-between items-center z-50 pointer-events-none">
    <div class="pointer-events-auto">
     <img src="img/ITSU.jpg" alt="Logotipo ITSU" class="h-14 w-auto object-contain">
    </div>
    <div class="pointer-events-auto">
        <button id="btn-toggle-theme" class="bg-gray-800 text-gray-200 text-xs px-3 py-2.5 rounded-xl border border-gray-700 transition-all flex items-center space-x-1.5 shadow-lg hover:bg-gray-700">
            <i data-lucide="sun" class="w-4 h-4"></i><span id="theme-text">Modo Claro</span>
        </button>
    </div>
</header> 